.game-2048-board {

}

.moves-label {
    margin-left: 20px;
}

.new-game-btn {
    margin-left: 20px;
    margin-bottom:5px;
}

.game-2048-table {
    display: table;
}

.game-2048-table-row {
    display: table-row;
}

.game-2048-table-cell {
    display: table-cell;
    text-align: center;
    width: 100px;
    height: 100px;
    /* height: auto; */
    /* border: 1px solid black; */
}

.value-display {
    height: 13px;
    color: #968f84;
    font-family:"Indie Flower";
    /* background-color: lightgoldenrodyellow; */
}

.empty-cell {
    background-color: gray;
    border: 1px solid black;
}

.thumbnail {
    margin-bottom:0px;
}